
:root {
    --black: #100101;
    --dark-red: #f4a709;
    --grey: #0e0e0e;
    --lighter-black: #f4a709;
    --red: #f4a709;
    --white: #f9fcff;
  }
  
  
  
  html {
    box-sizing: border-box;
    min-width: 400px;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  ::selection,
  ::-moz-selection {
    background: var(--red);
    color: var(--lighter-black);
  }
  
  /* Text styles */
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"),
      url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff)
        format("woff");
  }
  
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"),
      url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff)
        format("woff");
  }
  
  html {
    background: var(--white);
    color: var(--black);
    font-size: 10px;
    font-family: "Avenir Next", Open Sans, sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }


  body {
    font-size: 1.8rem;
  }
  
  h1 {
    font-size: 4.8rem;
  }
  
  h2 {
    font-size: 4.7em;
  }
  
  h3 {
    font-size: 2.5em;
    text-align: center;
  }

  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--lighter-black);
  }
  
  p,
  li {
    font-size: 2rem;
    line-height: 1.5;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  a {
    box-shadow: inset 0 -0.5em var(--dark-red);
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(0, 1, 0.3, 1);
  }
  
  a:hover {
    box-shadow: inset 0 -1.5em var(--red);
    color: var(--white);
  }
  
  .white-text {
    color: var(--white) !important;
  }
  
  .red-text {
    color: var(--red);
  }
  
  .text-center {
    text-align: center !important;
  }
  
  /* General Styles */
  .grid-list {
    display: grid;
    grid-row-gap: 40px;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    text-align: center;
  }
  
  .grid-list > li > a:hover {
    color: var(--red);
  }
  
  section {
    align-content: center;
    display: grid;
    justify-content: center;
    min-height: 100vh;
    padding: 40px 30px 100px 30px;
  }
  
  section > div {
    max-width: 1000px;
    overflow: hidden;
  }
  
  .svg-image {
    fill: var(--white);
    height: 80px;
    padding: 5px;
    width: 80px;
  }
  
  /* Header Styles */
  header {
    height: 100vh;
    min-height: 1200px;
    overflow: hidden;
    position: relative;
  }
  
  header:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .heading {
    color: var(--lighter-black);
    line-height: 1;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    text-shadow: -1px -1px 0 var(--white), 1px -1px 0 var(--white),
      -1px 1px 0 var(--white), 1px 1px 0 var(--white);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30em;
    z-index: 10;
  }
  
  .intro {
    font-size: 8em;
    margin-bottom: 0;
  }
  
  .lead {
    color: var(--grey);
    font-size: 2em;
    margin-bottom: 60px;
  }
  
  .header-btn {
    background: var(--lighter-black);
    border: 2px solid var(--lighter-black);
    border-radius: 4px;
    box-shadow: none;
    color: var(--white);
    cursor: pointer;
    font-size: 90%;
    font-weight: normal;
    padding: 20px;
    text-shadow: none;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .header-btn:hover {
    background: var(--white);
    box-shadow: none;
    color: var(--lighter-black);
  }
  
  .main-photo {
    background-image: url(./imge/KhujamovCodes.jpg);
    background-color: var(--lighter-black);
    background-position: center;
    background-size: cover;
    border: 7px solid var(--lighter-black);
    border-radius: 50%;
    height: 20em;
    position: absolute;
    top: calc(45% - 25.5em);
    left: calc(50% - 25em);
    width: 20em;
  }
  
  .main-photo:before {
    border: 7px solid var(--white);
    border-radius: 50%;
    content: " ";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    z-index: -1;
  }
  
  /* Portfolio Styles */
  
  .portfolio-img svg {
    fill: var(--lighter-black);
    width: 100%;
  }
  
  .portfolio-img {
    -webkit-transform: translateY(5em);
    transform: translateY(5em);
  }
  
  .section-lead {
    margin-bottom: 60px;
  }
  
  /* Social Styles */
  #social-contact {
    cursor: pointer;
  }
  
  /* Contact Form Styles */
  
  fieldset {
    border: none;
    padding: 0;
  }
  
  textarea {
    resize: none;
  }
  
  input,
  textarea,
  button {
    background: var(--white);
    border: 5px solid var(--lighter-black);
    border-radius: 4px;
    padding: 1em;
    width: 100%;
  }
  
  input:active,
  textarea:active {
    outline: var(--red);
  }
  
  form label {
    display: block;
    font-weight: bold;
  }
  
  .contact-form {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  
  #contact-form-no-bots,
  #contact-form-message,
  #contact-form-submit {
    grid-column: 1 / -1;
  }
  
  #contact-form-submit {
    background-color: var(--lighter-black);
    color: var(--white);
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  #contact-form-submit:hover {
    background-color: var(--white);
    color: var(--lighter-black);
  }
  
  #contact-form-submit:active {
    background-color: var(--red);
    color: var(--lighter-black);
  }
  
  /* Footer Styles */
  footer {
    background: var(--black);
    color: var(--white);
    padding: 20px 0;
    text-align: center;
  }
  
  /* General Styles */
  .dark-bg {
    background: var(--lighter-black);
    color: var(--white);
  }
  
  .dark-bg a {
    color: var(--white);
    transition: all 0.4s cubic-bezier(0, 1, 0.3, 1);
  }
  
  .dark-bg a:hover {
    color: var(--black);
  }
  
  /*/////////////////////////////////
  // Animation Styles
  /////////////////////////////////*/
  
  /* Header */
  header {
    opacity: 0;
    -webkit-transition: opacity 0.5s 0.25s ease-out;
    transition: opacity 0.5s 0.25s ease-out;
  }
  
  header.is-visible {
    opacity: 1;
  }
  
  .main-photo {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  
  .heading {
    -webkit-transform: translate(-50%, calc(-50% + 5em));
    transform: translate(-50%, calc(-50% + 5em));
  }
  
  .is-visible .main-photo {
    -webkit-transform: none;
    transform: none;
  }
  
  .is-visible .heading {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .main-photo,
  .heading {
    -webkit-transition: -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
    transition: -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
    transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
    transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
      -webkit-transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
    will-change: transform;
  }
  
  /* Icons Grid List / Portfolio */
  
  .grid-list,
  .portfolio-img {
    opacity: 0;
    -webkit-transition: opacity 0.3s 0.25s ease-out,
      -webkit-transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1);
    transition: opacity 0.3s 0.25s ease-out,
      -webkit-transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1);
    transition: transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1),
      opacity 0.3s 0.25s ease-out;
    transition: transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1),
      opacity 0.3s 0.25s ease-out,
      -webkit-transform 1.5s 0.25s cubic-bezier(0, 1, 0.3, 1);
    will-change: transform, opacity;
  }
  
  .grid-list.slide-left {
    -webkit-transform: translateX(-4em);
    transform: translateX(-4em);
  }
  
  .grid-list.slide-right {
    -webkit-transform: translateX(4em);
    transform: translateX(4em);
  }
  
  .grid-list.is-visible {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  .portfolio-img.is-visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  /*/////////////////////////////////
  // Media Queries
  /////////////////////////////////*/
  
  @media only screen and (max-width: 700px) {
    .grid-list {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
  }
  
  @media only screen and (max-width: 600px) {
    header {
      min-height: 800px;
      overflow: hidden;
      position: relative;
    }
  
    .main-photo {
      top: 0;
      left: 0;
    }
  
    .heading {
      top: 50%;
      width: 20em;
    }
  
    .intro {
      font-size: 4em;
    }
  
    .lead {
      font-size: 1.5em;
      width: 100%;
    }
  
    .grid-list {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
  }
  
  @media only screen and (max-width: 550px) {
    .contact-form {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 450px) {
    h2 {
      font-size: 3.7em;
    }
  
    .contact-form {
      grid-template-columns: 1fr;
    }
  }
